$white: #ffffff;
$black: #000000;
$green: darkgreen;
$grey: #707070;
$grey-2: #898989;
$main-color: #a58963;
$bar-color: #b4956c;
$text-color: $black;
$ins-color: $main-color;
$part2-content4: #edede5;

/*Font weight*/
$light: 300;
$book: 400;
$medium: 500;
$demi: 600;
$bold: 700;
$heavy: 900;

// Z-INDEX
$arrow-index: 3;
$nav-index: 4;
$menu-index: 5;
$popup-index: 6;

/*brake point*/
$mobile: 768px;
$mobile-land: 568px;
$laptop: 1024px;
$desktop-big: 1920px;
