#content,
.page,
.scroll-inner {
  @include fill-area;
}

#content {
  flex: 1;
  overflow: hidden;

  // @include for-mobile {
  //   padding-bottom: rem(120);
  // }
}

.content-inner {
  width: 100%;
  min-height: 100%;

  &--center {
    @include flex-center;
    flex-direction: column;
  }
}

.group-side {
  width: 100%;
  height: 100%;
  @include flex-center;

  @include for-mobile {
    display: block;
    height: auto;
  }

  .side {
    position: relative;
    width: rem(910);
    height: 100%;
    float: left;
    @include flex-center;
    flex-direction: column;

    @include for-mobile {
      width: 100%;
      height: auto;
      float: none;
      display: block;
    }
  }
}

.size-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $white;
  z-index: 9;
  display: none;
}
