html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  @include user-select-none;

  margin: 0;
  padding: 0;

  font-family: $text-font;
  color: $text-color;
  font-size: rem(30);
  font-weight: normal;
  text-align: center;
  background-color: #E6EAED;

  @include for-mobile {
    font-size: rem(42);
  }
}

img {
  display: block;
  max-width: 100%;
}

#main-container {
  @include flex-column;
  @include fill-area;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.m-style {
  display: none;

  @include for-mobile {
    display: block;
  }
}

.d-style {
  display: block;

  @include for-mobile {
    display: none;
  }
}
