.img {
  width: (335px);
  height: (660px);
  align-items: center;
  &--contain {
    object-fit: contain;
  }

  &--cover {
    object-fit: cover;
  }

  &--absolute {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
