<div id="part2-game3" class="page" data-step="4" data-current="3" data-menu="1">
  <div class="scroll-inner">
    <div class="content-inner">
      <div class="title"><span lcz="part2-game3-title"></span></div>
      <div class="ins">
        <span lcz="part2-game3-ins"></span>
      </div>
      <div class="part2-game3-drag-drop">
        <div class="mid m-style">
          <img src="images/pages/part2-game3/bottle.png" alt="" />
        </div>
        <div class="part2-game3-drag-drop_inner">
          <div class="left">
            <div class="left_title">
              <span lcz="black-tea"></span>
            </div>
            <div class="drop-zone">
              <div class="drop drop-1" data-ans="left">
                <div class="drop_inner"><span lcz="drag-drop-here"></span></div>
              </div>
              <div class="drop drop-2" data-ans="left">
                <div class="drop_inner"><span lcz="drag-drop-here"></span></div>
              </div>
            </div>
          </div>
          <div class="mid d-style">
            <img src="images/pages/part2-game3/bottle.png" alt="" />
          </div>
          <div class="line m-style"></div>
          <div class="right">
            <div class="right_title">
              <span lcz="white-tea"></span>
            </div>
            <div class="drop-zone">
              <div class="drop drop-3" data-ans="right">
                <div class="drop_inner"><span lcz="drag-drop-here"></span></div>
              </div>
              <div class="drop drop-4" data-ans="right">
                <div class="drop_inner"><span lcz="drag-drop-here"></span></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Slider main container -->
        <div class="swiper part2-game3-drag-drop">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="drag" data-ans="left">
                <div class="drag_inner"><span lcz="key-1"></span></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="drag" data-ans="right">
                <div class="drag_inner"><span lcz="key-2"></span></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="drag" data-ans="right">
                <div class="drag_inner"><span lcz="key-3"></span></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="drag" data-ans="left">
                <div class="drag_inner"><span lcz="key-4"></span></div>
              </div>
            </div>
          </div>
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
</div>
