<div id="select-lang" class="page">
  <div class="scroll-inner">
    <div class="content-inner">
      <div class="group-side">
        <div class="side">
          <img src="images/general/logo.png" class="logo m-style" alt="" />
          <img class="main-img" src="images/general/img-welcome.png" alt="" />
        </div>
        <div class="side">
          <div class="right">
            <img src="images/general/logo.png" class="logo d-style" alt="" />
            <div class="input-zone">
              <div class="selectlang">
                <div class="lang">
                  <select id="languageSelect" class="languageSelect">
                    <option lcz="select-lang" value=""></option>
                    <option value="en-gb">English</option>
                  </select>
                </div>
              </div>
              <button class="btn__inner" lcz="enter"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
